* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("../images/bg-sm.jpg");
  background-image: url("../images/bg-sm.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  text-rendering: optimizeLegibility; }

.wrapper:before {
  content: "";
  vertical-align: middle;
  display: inline-block;
  height: 100%; }

#hero {
  z-index: 3;
  position: relative;
  vertical-align: middle;
  display: inline-block;
  color: white;
  text-transform: uppercase;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.09); }
  #hero h1 {
    font-weight: 500;
    font-size: 56px;
    font-style: italic;
    margin: 10% 0 0 0;
    letter-spacing: 0.02em;
    opacity: 0.9;
    word-wrap: break-word;
    -webkit-animation-duration: 1.4s;
    -moz-animation-duration: 1.4s;
    animation-duration: 1.4s;
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    animation-delay: 0.2s; }
  #hero div.secondary {
    opacity: 0; }
  #hero h2 {
    font-weight: 100;
    font-size: 16px;
    opacity: 0.75;
    letter-spacing: 0.1em;
    line-height: 1.1; }
  #hero hr {
    opacity: 0.75;
    width: 72px;
    height: 1px;
    border: none;
    border-bottom: 1px solid white;
    margin-top: 80px; }
  #hero ul {
    list-style-type: none;
    margin: 80px 0 0 0;
    padding: 0; }
  #hero li {
    display: inline-block; }
  #hero a {
    background-image: url("../images/social-sprite.png");
    background-image: url("../images/social-sprite.png");
    height: 19px;
    background-size: 65px 19px;
    display: inline-block;
    text-indent: -9999px;
    opacity: 0.7;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 0.1s;
    -moz-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-transition-timing-function: ease-in;
    -moz-transition-timing-function: ease-in;
    transition-timing-function: ease-in; }
  #hero a:hover {
    opacity: 1; }

.twitter {
  margin-left: 0;
  width: 21px; }

.dribbble {
  width: 21px;
  background-position: -21px 0px;
  margin-left: 25px; }

.email {
  width: 23px;
  background-position: -42px 0px;
  margin-left: 25px; }

.gradient {
  background-color: #2db5d0;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(-10%, #2db5d0), color-stop(95%, #12cfae));
  background-image: -webkit-linear-gradient(-285deg, #2db5d0 -10%, #12cfae 95%);
  background-image: linear-gradient(15deg,#2db5d0 -10%, #12cfae 95%);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  opacity: 0.93;
  z-index: 1; }

.solid {
  background-color: #15404d;
  opacity: 1;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  z-index: 2; }

@media (max-width: 800px) {
  .hero h1 {
    font-size: 40px; } }
@media (max-width: 400px) {
  .hero h1 {
    font-size: 30px;
    margin: 0; }

  .hero h2 {
    font-size: 12px; }

  .hero hr {
    margin-top: 40px; }

  .hero ul {
    margin-top: 44px; } }
